<?xml version="1.0"?>

<launch>
  <!-- set car number parameter to avoid having nodes with same name with multiple jetracers -->
  <arg name="car_number_str_local" value="$(env car_number_str)"/>

  <!-- arduino sensor reading -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node_$(arg car_number_str_local)" output="screen">
  <!-- Add any required arguments here -->
  <param name="port" value="/dev/arduino"/>
  </node>

  <!-- sensor publishing -->
  <node name="publish_sensors_and_inputs_$(arg car_number_str_local)" pkg="racecar_pkg" type="publish_sensors_and_inputs_universal.py" output="screen"/>

  <!-- odometry publishing -->
  <node name="odometry_publisher$(arg car_number_str_local)" pkg="localization_and_mapping_pkg" type="publish_odometry_universal.py" output="screen"/>

  <!-- Start the lidar (here we include the launch file that fires up the lidar)-->
  <include file="$(find lidar_ros)/launch/X4.launch"/>

  <!-- A map server is also needed, but to avoid conflicts between multiple robots I have removed it from this launch file -->


  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl_node$(arg car_number_str_local)">
    <rosparam command="load" file="$(find localization_and_mapping_pkg)/config/amcl_params$(arg car_number_str_local).yaml" />
    <remap from="/scan" to="/scan$(arg car_number_str_local)" />
    <remap from="/particlecloud" to="/particlecloud$(arg car_number_str_local)" />
  </node>
</launch>
