<?xml version="1.0"?>

<launch>
  <!-- Running everything except the actual SLAM, so to record a rosbag and do it offline -->
  <!-- set car number parameter to avoid having nodes with same name with multiple jetracers -->
  <arg name="car_number_str_local" value="$(env car_number_str)"/>

  <!-- run racecar in v ref steer angle mode-->
  <include file="$(find racecar_pkg)/launch files/racecar_steer_angle_v_ref.launch"/>

  <!-- run controller -->
  <node name="gamepad_$(arg car_number_str_local)" pkg="racecar_pkg" type="gamepad_steer_angle_v_ref.py" output="screen"/>

  <!-- odometry publishing -->
  <node name="odometry_publisher$(arg car_number_str_local)" pkg="localization_and_mapping_pkg" type="publish_odometry_universal.py" output="screen"/>

  <!-- Start the lidar (here we include the launch file that fires up the lidar)-->
  <include file="$(find lidar_ros)/launch/X4.launch"/>

  <!-- SLAM -->
  <!--
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping$(arg car_number_str_local)" output="screen">
    <rosparam command="load" file="$(find localization_and_mapping_pkg)/config/gmapping_params$(arg car_number_str_local).yaml" />
    <remap from="/scan" to="/scan$(arg car_number_str_local)" />
  </node>
  -->
</launch>
