<launch>
  <!-- Launch file for Hector SLAM -->
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <param name="base_frame" value="base_link_1"/>
    <param name="odom_frame" value="odom_1"/>
    <param name="output_frame" value="map"/>
    <param name="pub_map_odom_transform" value="true"/>
    <param name="scan_subscriber_queue_size" value="5"/>
    <param name="laser_max_dist" value="6.0"/>
    <param name="map_resolution" value="0.05"/>
    <param name="map_update_distance_thresh" value="0.1"/>
    <remap from="scan" to="scan_1"/>
  </node>
</launch>
