<launch>
  <arg name="robot_name" default="jetracer1"/>

  <!-- Launch the Vicon bridge to get pose readings.
       Since there may be many robots around, we forward objects individually.
       If you want to add an additional objectd (e.g. an obstacle), you need
       to add a new element to each of the arrays below.

       See also https://github.com/tud-amr/vicon-bridge for more information.
  -->
  <include file="$(find vicon_bridge)/launch/vicon.launch">
    <arg name="only_use_object_specific" default="true"/>
    <arg name="object_names" value="[$(arg robot_name)]"/>
    <arg name="object_msg_types" value="[geometry_msgs/PoseWithCovarianceStamped]"/>
    <arg name="object_frame_ids" value="[map]"/>
    <arg name="object_publish_topics" value="[/vicon/$(arg robot_name)]"/>
    <arg name="object_frequency_divider" value="[1]"/>
  </include>

  <!-- Augment the pose readings with velocity estimates via an EKF -->

  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="robot_ekf" clear_params="true">
    <rosparam command="load" file="$(find hackathon)/config/vicon_ekf.yaml"/>
    <remap from="pose" to="/vicon/$(arg robot_name)" />
    <remap from="/odometry/filtered" to="/robot_ekf/odometry"/>
  </node> -->
  
  <!-- Basic visualization -->
  <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find hackathon)/rviz/demo.rviz"/>-->

  <!-- Below, you may launch your own nodes, e.g.:
    - control node for this demo
    - run more EKFs for dynamic objects, etc.
  -->
</launch>
